.video-content {
  position: relative;
  display: inline-block;
  padding: 0.25rem;
  flex: 1;
  &__name {
    position: absolute;
    left: 30px;
    bottom: 25px;
  }

  video {
    border-radius: 1.5rem;
    border: #333044 4px solid;
    object-fit: cover;
  /*  max-height: 300px;*/
    height: 100%;
    width:100%;
    cursor: pointer;
  }
  &.talking {
    border: #0c8f3d 4px solid;
  }
  .starIcon {
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
  }
}