.profile-container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0.2rem 1rem;
  width: 100%;
}
.profile-inner {
  display: flex;
  align-items: center;
}
.profile-id {
  font-size:0.8rem !important;
}