.main-room {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2b2b31 !important;

  &__videos {
    flex-grow: 1;
    flex-direction: column;
    padding: 0 0.5rem 0.5rem 0.5rem;
    display: flex;
    height: 100%;
    max-height: 69vh;
  }
  &__upper, &__bottom {
    flex-grow: 1;
    padding: 0 0.5rem 0.5rem 0.5rem;
    display: flex;
    height: 100%;
    max-height: 69vh;
  }
  &__upper {
    &.portraitMode {
      max-height: 40vh;
    }
  }
  &__bottom {
    &.portraitMode {
      max-height: 30vh;
    }
  }
  &__title {
    flex-shrink: 1;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    span {
      opacity: .5;
      margin-right: 0.5rem;
    }
  }
}
.none {
  display: none !important;
}